@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

    --color-gradient-light:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img_paginas/vaporwave-light-japan-street-1uaxbsqmscz5hr14.jpg) no-repeat center center;
    background-size: cover;

    margin: 0 ; /* Centraliza o conteúdo horizontalmente */
    position: relative; /* Para garantir que o pseudo-elemento ::before fique posicionado corretamente */

}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37); 
    z-index: -1; /* Mantendo a camada atrás de outros elementos */
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
   
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navegation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navegation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
   transform-origin: right;
}
.navegation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;


}


